html, body{
    height: 100%;
    margin: 0;
}

/* fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.body-welcome{
    text-align: center;
}

.button-welcome{
    display: block;
    margin: auto auto 50px;
}

.h1-welcome{
    margin: 50px;
    padding: 50px 0 50px;
}

.p-welcome{
    margin: 50px;
}

.float-start{
    width: 50%;
    /* margin: 0px 50px; */
    max-height: 100%;
}

.navbar-toggler{
    margin: 0;
}


